authlib==1.7.2
bcrypt
chromadb
duckduckgo_search==8.1.1
fastapi==0.139.0
google-generativeai
httpx==0.28.1
itsdangerous
langchain==1.3.11
langchain_community==0.4.2
langchain_core==1.4.8
langchain_google_genai==4.2.7
langchain_text_splitters==1.1.2
langgraph==1.2.8
Pillow==12.3.0
psycopg2_binary==2.9.12
pydantic==2.13.4
pytesseract==0.3.13
python-dotenv==1.2.2
python-jose[cryptography]
python-multipart
rank_bm25==0.2.2
redis==8.0.1
slowapi==0.1.10
python-pptx
uvicorn